{% extends 'base.html' %}

{% block content %}
<h1>{{drink['strDrink']}}</h1>
<img src="{{drink['strDrinkThumb']}}" alt="">
<p>{{drink['strInstructions']}}</p>
<ul>
    {% for ingredient in ingredients %}
    <li>{{ingredient}}</li>
    {% endfor %}
    <!-- <li>{{drink['strMeasure1']}} {{drink['strIngredient1']}}</li>
    <li>{{drink['strMeasure2']}} {{drink['strIngredient2']}}</li>
    <li>{{drink['strMeasure3']}} {{drink['strIngredient3']}}</li>
    <li>{{drink['strIngredient4']}}</li> -->
</ul>
{% endblock %}

